.places__paragraph {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.63;
    text-align: left;
    color: #FFFFFF;
}

@media screen and (max-width: 900px) {
    .places__paragraph {
        font-size: 16px;
        line-height: 1.59;
    }
}

@media screen and (max-width: 650px) {
    .places__paragraph {
        font-size: 15.95px;
        line-height: 1.62;
    }
}

.places__paragraph:first-of-type {
    margin-bottom: 27px;
}

@media screen and (max-width: 900px) {
    .places__paragraph:first-of-type {
        margin-bottom: 25px;
    }
}