.header__lang-link {
    margin: 0;
    margin-left: 18px;
    padding-bottom: 0px;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
}

@media screen and (max-width: 375px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 1.11;
    }
}
  
.header__lang-link:hover {
    text-decoration: underline #FFFFFF solid 1.5px;
    text-underline-offset: 5px;
}