.photo-grid {
    margin: 0;
    padding: 0 48px 92px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
    gap: 14px;
    justify-content: stretch;
    align-items: stretch;
    box-sizing: content-box;
}

@media screen and (min-width: 1100px) {
    .photo-grid {
        gap: 16px;
    }    
}

@media screen and (max-width: 900px) {
    .photo-grid {
        padding: 0 24px 88px;
        gap: 16px;
    }    
}

@media screen and (max-width: 650px) {
    .photo-grid {
        padding: 0 16px 64px;
        gap: 12px;
    }    
}