.places__url {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 2px;
    text-align: left;
    color: #AAAAAA;
}