.places__title {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    text-align: left;
    color: #FFFFFF;
}

@media screen and (max-width: 900px) {
    .places__title {
        font-size: 42px;
        line-height: 1.09;
    }
}

@media screen and (max-width: 650px) {
    .places__title {
        margin: 0 16px;
        font-size: 32px;
        line-height: 1.09;
    }
}