.places__link {
    margin: 0;
    margin-top: 12px;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-decoration: underline #FFFFFF solid 2px;
    text-underline-offset: 3px;
    color: #FFFFFF;
    transition: opacity .5s ease .05s;
}

.places__link:hover {
    opacity: .8;
}