.cover__subtitle {
    margin: 0;
    width: 360px;
    height: 66px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 650px) {
    .cover__subtitle {
        width: 288px;
        height: 48px;
        font-size: 14px;
        line-height: 1.14;
    }
}