.header {
    margin: 0 auto;
    max-width: 1280px;
    padding: 28px 48px 0;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

@media screen and (max-width: 900px) {
    .header {
        padding: 28px 24px 0;
    }
}

@media screen and (max-width: 375px) {
    .header {
        padding: 16px 16px 0;
    }
}