.place__paragraphs {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 27px;
}

@media screen and (max-width: 900px) {
    .place__paragraphs {
        gap: 25px;
    }
}

@media screen and (max-width: 650px) {
    .place__paragraphs {
        margin: 0 16px;
    }
}