.lead__title {
    margin: 0 104px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (min-width: 1100px) {
    .lead__title {
        margin: 0 132px;
    } 
}

@media screen and (max-width: 900px) {
    .lead__title {
        margin: 0 24px;
    }   
}

@media screen and (max-width: 650px) {
    .lead__title {
        margin: 0 16px;
        font-size: 40px;
        line-height: 1.1;
    }   
}