.footer__copyright {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    text-align: right;
    color: #FFFFFF;
}

@media screen and (max-width: 650px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 1;
        text-align: left;
    }
}