.intro__list-item {
    margin: 0;
    padding: 0;
    font-family: 'Inter Regular', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
    text-align: left;
    color: #FFFFFF;
}