.intro {
    margin: 0 48px;
    padding: 92px 0;
    max-width: 690px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-sizing: border-box;
}

@media screen and (min-width: 1100px) {
    .intro {
        margin: 0 148px;
    }    
}

@media screen and (max-width: 900px) {
    .intro {
        margin: 0 24px;
        padding: 88px 0;
        max-width: 852px;
    }    
}

@media screen and (max-width: 650px) {
    .intro {
        margin: 0 16px;
        padding: 64px 0;
        max-width: 852px;
    }    
}