.lead__subtitle {
    margin: 32px 144px 56px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (min-width: 1100px) {
    .lead__subtitle {
        margin: 32px 172px 64px;
    }
}

@media screen and (max-width: 900px) {
    .lead__subtitle {
        margin: 32px 64px 56px;
    }
}

@media screen and (max-width: 650px) {
    .lead__subtitle {
        margin: 16px 16px 40px;
        font-size: 16px;
        line-height: 1.25;
    }   
}