.lead__img {
    margin: 0;
    width: 100%;
    padding-bottom: 62.5%;
    background-image: url(../../../images/lead-image.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}