.cover__overlay {
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(42, 44, 47, .3);
    transition: background-color 1s ease .05s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.cover__overlay:hover {
    background-color: rgba(42, 44, 47, .8);
}