.lead__caption {
    margin: 0;
    margin-top: 8px;
    align-self: flex-start;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media screen and (max-width: 900px) {
    .lead__caption {
        margin-left: 24px;
    }   
}

@media screen and (max-width: 650px) {
    .lead__caption {
        margin-left: 16px;
    }   
}