.cover__title {
    margin: 0;
    margin-bottom: 32px;
    width: 560px;
    height: 152px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 650px) {
    .cover__title {
        margin-bottom: 16px;
        width: 288px;
        height: 70px;
        font-size: 32px;
        line-height: 1.09;
    }
}