.place__url-heading {
    margin: 0;
    font-family: 'Inter Regular', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 2px;
    text-align: left;
    color: #AAAAAA;
}