.intro__title {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
    text-align: left;
    color: #FFFFFF;
}

@media screen and (max-width: 650px) {
    .intro__title{
        font-size: 32px;
        line-height: 1.09;
    }   
}